@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/roxborough-cf-regular.woff") format("woff");
}

:root,
[data-bs-theme="light"] {
  --bs-black: #000;
  --bs-blue: #255ba4;
  --bs-dark: #1e1d2e;
  --bs-dark-rgb: 0, 0, 0;
  --bs-white: #fff;
  --bs-primary: #000000;
  --bs-primary-rgb: 227, 26, 75;
  --bs-secondary: #6c757d;
  --bs-light: #c6d8f1;
  --bs-light-rgb: 247, 247, 247;
  --bs-secondary-rgb: 255, 243, 243;
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 24px;
  --bs-body-color: #000000;
  --bs-link-decoration: none;
  --bs-link-hover-color: #e31a4b;
  --bs-border-radius: 20px;
  --bs-border-radius-sm: 16px;
  --bs-border-radius-lg: 24px;
  --bs-border-radius-xl: 32px;
  --bs-border-radius-pill: 0px;
  --bs-box-shadow: 0px 2px 0px 0px #000;
  --bs-dropdown-border-color: 238, 238, 238;
  --work-sans: "Work Sans", serif;
  --roxborough-cf: Roxborough CF;
  --cormorant: "Cormorant", serif;
  --inter: "Inter", serif;
}

.accordion-button::after {
  background-image: url('data:image/svg+xml,<svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.32134 1.09389C0.521901 0.900931 0.790867 0.795489 1.06913 0.800739C1.3474 0.80599 1.61219 0.921502 1.80533 1.12189L6.99932 6.63507L12.1933 1.12189C12.2877 1.01781 12.4021 0.933737 12.5296 0.874656C12.6571 0.815575 12.7951 0.782688 12.9356 0.777943C13.076 0.773197 13.216 0.79669 13.3472 0.847031C13.4784 0.897371 13.5981 0.973534 13.6993 1.07101C13.8006 1.16848 13.8812 1.28528 13.9364 1.41448C13.9917 1.54368 14.0204 1.68266 14.021 1.82319C14.0216 1.96371 13.9939 2.10291 13.9397 2.23255C13.8854 2.36218 13.8057 2.47962 13.7053 2.57789L7.75531 8.87787C7.65737 8.97949 7.53994 9.06032 7.41004 9.11553C7.28015 9.17074 7.14046 9.19919 6.99932 9.19919C6.85818 9.19919 6.71848 9.17074 6.58859 9.11553C6.4587 9.06032 6.34127 8.97949 6.24332 8.87787L0.29334 2.57789C0.100378 2.37733 -0.0050632 2.10836 0.000187083 1.83009C0.00543737 1.55183 0.12095 1.28703 0.32134 1.09389Z" fill="%23255BA4"/></svg>');
}

.btn {
  --bs-btn-padding-x: 28px;
  --bs-btn-padding-y: 12px;
  --bs-btn-line-height: 20px;
  --bs-btn-font-weight: 600;
  --bs-btn-font-size: 14px;
  --bs-btn-border-radius: var(--bs-border-radius-pill);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-family: var(--work-sans);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2e2c2c;
  --bs-btn-hover-border-color: #2e2c2c;
  --bs-btn-focus-shadow-rgb: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e2c2c;
  --bs-btn-active-border-color: #2e2c2c;
  --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #444444;
  --bs-btn-disabled-opacity: 1;
  --bs-btn-disabled-border-color: #444444;
}

.btn-outline-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #fff;
  --bs-btn-border-width: 2px;
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff1f2;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff1f2;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #444444;
  --bs-btn-disabled-opacity: 1;
  --bs-gradient: none;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.68;
}

body {
  font-weight: 400;
  font-family: var(--work-sans);
  line-height: 24px;
}

a,
a::after {
  transition: all 0.3s ease-in-out;
}

h2 {
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
}

img {
  max-width: 100%;
}

.py-40px {
  padding-block: 40px;
}

.py-50px {
  padding-block: 50px;
}

.py-60px {
  padding-block: 60px;
}

.py-70px {
  padding-block: 70px;
}

.py-80px {
  padding-block: 80px;
}

.py-100px {
  padding-block: 100px;
}

.my-40px {
  margin-block: 40px;
}

@media screen and (max-width: 749px) {
  .py-40px {
    padding-block: 30px;
  }

  .py-50px {
    padding-block: 35px;
  }

  .py-60px {
    padding-block: 40px;
  }

  .py-70px {
    padding-block: 50px;
  }

  .py-80px {
    padding-block: 60px;
  }

  .py-100px {
    padding-block: 80px;
  }
}

.slick-list {
  z-index: 1;
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 55px;
  z-index: 2;
  border: 0;
  color: transparent;
  font-size: 1px;
  width: 100px !important;
  height: 100px !important;
}

.slick-arrow::before {
  content: none !important;
}

.slick-prev.slick-arrow {
  left: -8%;
  background: url("../img/icons/prev.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-next.slick-arrow {
  right: -8%;
  background: url("../img/icons/next.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-dots {
  width: calc(100% - 24px) !important;
  bottom: -55px;
}

.slick-dots li button {
  width: 9px;
  height: 9px;
  color: transparent;
  border: 1px solid rgba(136, 136, 136, 1);
  opacity: 1;
  border-radius: 100%;
}

.slick-dots li button::before {
  content: none;
}

.slick-dots li.slick-active button {
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1180px !important;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1380px !important;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1440px !important;
  }
}

.main_row {
  position: relative;
  overflow: hidden;
}

.announcement_bar {
  background: rgba(31, 30, 30, 1);
}

.bar_block {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-block: 16px;
}

.bar_block img {
  margin-top: -5px;
}

.bar_block p {
  font-family: var(--work-sans);
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 2px;
  color: rgba(224, 220, 208, 1);
}

.bake_wrap {
  max-height: 570px;
}

.bk_supper_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.menu_col {
  border-top: 1px solid rgba(238, 238, 238, 1);
}

.menu_col #navbar_menu {
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 0;
  border-right: 0;
  padding: 20px;
}

#navbar_menu .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.supper_image {
  width: 182px;
  height: 182px;
  border-radius: 100%;
  background-size: cover !important;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.supper_image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.supper_pic_1 {
  background: url("../img/supper/pic-1.png") center center no-repeat;
}

.supper_pic_2 {
  background: url("../img/supper/pic-2.png") center center no-repeat;
}

.supper_pic_3 {
  background: url("../img/supper/pic-3.png") center center no-repeat;
}

.supper_pic_4 {
  background: url("../img/supper/pic-4.png") center center no-repeat;
}

.supper_pic_5 {
  background: url("../img/supper/pic-5.png") center center no-repeat;
}

.supper_pic_6 {
  background: url("../img/supper/pic-6.png") center center no-repeat;
}

.supper_image .icon {
  z-index: 1;
}

.bk_supper_card .heading {
  color: #fff;
  text-transform: uppercase;
  font-family: var(--work-sans);
  font-weight: 700;
  font-size: 16px;
  line-height: 18.77px;
  letter-spacing: 0%;
  text-align: center;
  margin-block: 30px 0;
}

.bk_treat_card {
  border: 1px solid rgba(226, 226, 226, 1);
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.treat_image {
  padding: 12px;
}

.treat_image .wrap {
  height: 284px;
  width: 100%;
}

.treat_image .wrap img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.bk_treat_card .content {
  padding: 15px 25px 28px;
  text-align: center;
}

.bk_treat_card .content span {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-align: center;
  text-transform: uppercase;
}

.bk_treat_card .content h4 {
  text-align: center;
  margin-block: 8px 18px;
  text-transform: uppercase;
}

.bk_treat_card .content p {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 0;
}

.about_wrap {
  max-width: 638px;
  width: 100%;
  height: 725px;
}

.about_wrap img,
.about_wrap iframe {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.about_content p {
  margin-block: 27px;
}

.about_content .subtext {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.about_wrap_2 {
  /* height: 457px; */
}

.about_wrap_2 img,
.about_wrap iframe {
  width: 100%;
  height: 100%;
}

.bk_fan_card {
  position: relative;
}

.bk_fan_card .fan_wrap {
  max-width: 470px;
  height: 506px;
}

.bk_fan_card .fan_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.bk_fan_card .content h4 {
  position: absolute;
  left: 50%;
  bottom: 56px;
  width: calc(100% - 50px);
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 10px;
  transform: translateX(-50%);
}

.trip_wrap {
  /* max-width: 715px;
  min-height: 545px;
  height: 100%; */
}

.trip_wrap img {
  width: 100%;
  height: 100%;
}

.trip_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 80px;
  border-radius: 20px;
}

.trip_content p {
  color: rgba(84, 84, 84, 1);
}

.testi_bg {
  background: url("../img/testi_bg.jpg") no-repeat;
  background-position: center bottom;
  position: relative;
  z-index: 1;
}

.testi_bg:before {
  background: rgba(255, 243, 246, 0.54);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.testimonial {
  z-index: 3;
}

.testi_card .heading {
  margin-block: 22px;
  font-family: var(--cormorant);
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}

.star_rating i {
  color: rgba(187, 146, 48, 1);
  margin-inline: 2px;
}

.testi_card .author {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1.8px;
  text-align: center;
  color: rgba(84, 84, 84, 1);
}

.tab_card {
  max-width: 344px;
  min-height: 399px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.tab_card .tab_image .wrap {
  height: 249px;
}

.tab_card .tab_image .wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab_card .content {
  padding: 30px 20px;
}

.tab_card .content h5 {
  margin-top: 10px;
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.tab_card .content span {
  font-family: var(--work-sans) !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.nav-recipe {
  border-top: 1px solid rgba(0, 0, 0, 1);
  padding: 20px 10px;
  gap: 20px;
  overflow-x: auto;
  max-width: 100%;
  /* flex-wrap: nowrap; */
}

.nav-recipe .nav-link {
  --bs-nav-link-padding-x: 5px;
  --bs-nav-link-padding-y: 0.5rem;
  font-family: var(--work-sans);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  position: relative;
  width: max-content;
}

.nav-recipe .nav-link.active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(218, 218, 218, 1);
}

.footer_social a svg {
  width: 20px;
  height: 20px;
}

.footer_bottom {
  border-top: 1px solid rgba(46, 45, 45, 1);
}

.footer_links a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.about_block_2 {
  margin-top: 50px;
}

#navbar_menu .dropdown-menu {
  border-radius: 0;
}

@media screen and (max-width: 1600px) {
  .supper_image {
    width: 158px;
    height: 158px;
  }

  .treat_image .wrap {
    height: 230px;
  }
}

@media screen and (max-width: 1400px) {
  .slick-prev.slick-arrow {
    left: -10%;
  }

  .slick-next.slick-arrow {
    right: -10%;
  }

  .supper_image {
    width: 150px;
    height: 150px;
  }

  .trip_content {
    padding: 30px 50px;
  }

  .treat_image .wrap {
    height: 210px;
  }
}

@media screen and (max-width: 1100px) {
  .about_wrap {
    width: 88%;
    height: 550px;
  }

  h4 {
    font-size: 20px;
    line-height: 25px;
  }

  .bk_treat .row {
    row-gap: 30px;
  }

  .about_block_2 {
    margin-top: 70px;
  }

  .bk_fan_card .fan_wrap {
    height: 400px;
  }
}

@media screen and (max-width: 991px) {
  .about_wrap {
    height: 410px;
  }

  .navbar-toggler:focus,
  .navbar-toggler {
    outline: 0;
    box-shadow: 0 0 0 0;
    border: 0;
  }

  .navbar-toggler-icon {
    border-color: #000;
  }

  .menu_col #navbar_menu {
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 50%;
    background: rgb(255, 255, 255);
    border: 0;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(-50%);
  }

  #navbar_menu .nav-link {
    text-align: start;
  }

  .slick-arrow {
    width: 50px !important;
    height: 50px !important;
  }

  .supper_image {
    width: 125px;
    height: 125px;
  }

  .trip_wrap {
    margin-bottom: 30px;
  }

  .bk_fan_card .fan_wrap {
    height: 300px;
  }

  .bk_fan_card .content h4 {
    bottom: 26px;
  }

  .supper_image .icon {
    text-align: center;
  }

  .supper_image img {
    width: 60%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 767px) {
  .slick-prev.slick-arrow {
    left: 0;
  }

  .slick-next.slick-arrow {
    right: 0;
  }

  .about_wrap_2,
  .about_wrap {
    margin-inline: auto;
    margin-bottom: 30px;
  }

  .about_block_2 {
    flex-direction: column-reverse;
  }

  .about_block_2 {
    margin-top: 40px;
  }

  .footer_bottom {
    text-align: center;
  }

  .footer_bottom p {
    margin-top: 20px;
  }

  .footer_bottom .row {
    flex-direction: column-reverse;
  }

  .fan_group_card {
    row-gap: 30px;
  }

  .bk_fan_card {
    width: 280px;
    margin-inline: auto;
  }

  .header_grid .py-40px {
    padding-block: 15px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .bk_supper_card .heading {
    width: 162px;
  }

  .bk_treat_card .content {
    padding: 5px 25px 28px;
  }

  .bk_treat_card .content p {
    font-size: 14px;
  }

  .about_content .subtext {
    font-size: 18px;
    line-height: 24px;
  }

  .about_content p {
    font-size: 14px;
    line-height: 24px;
  }

  .bk_treat_card .content h4 {
    margin-block: 6px 15px;
  }

  .trip_content {
    padding: 30px 20px;
  }

  .testi_bg {
    background-size: 100%;
  }

  .testi_card .heading {
    margin-block: 18px;
  }

  .testi_card .heading {
    font-size: 25px;
    line-height: 35px;
  }

  .tab_card {
    min-height: auto;
  }

  .nav-recipe {
    gap: 10px;
  }

  .nav-recipe .nav-link {
    font-size: 12px;
    line-height: 14px;
  }

  .tab_card .tab_image .wrap {
    height: 200px;
  }
}