@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bitter:ital,wght@0,100..900;1,100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/roxborough-cf-regular.woff") format("woff");
}

:root,
[data-bs-theme="light"] {
  --bs-black: #000;
  --bs-blue: #255ba4;
  --bs-dark: #1e1d2e;
  --bs-dark-rgb: 0, 0, 0;
  --bs-white: #fff;
  --bs-primary: #000000;
  --bs-primary-rgb: 227, 26, 75;
  --bs-secondary: #6c757d;
  --bs-light: #c6d8f1;
  --bs-light-rgb: 247, 247, 247;
  --bs-secondary-rgb: 255, 243, 243;
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 24px;
  --bs-body-color: #000000;
  --bs-link-decoration: none;
  --bs-link-hover-color: #e31a4b;
  --bs-border-radius: 20px;
  --bs-border-radius-sm: 16px;
  --bs-border-radius-lg: 24px;
  --bs-border-radius-xl: 32px;
  --bs-border-radius-pill: 0px;
  --bs-primary-text-emphasis: #000;
  --bs-box-shadow: 0px 2px 0px 0px #000;
  --bs-dropdown-border-color: 238, 238, 238;
  --work-sans: "Work Sans", serif;
  --roxborough-cf: Roxborough CF;
  --cormorant: "Cormorant", serif;
  --inter: "Inter", serif;
  --bitter: "Bitter", serif;
  --arvo: "Arvo", serif;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
}
.btn {
  --bs-btn-padding-x: 28px;
  --bs-btn-padding-y: 12px;
  --bs-btn-line-height: 20px;
  --bs-btn-font-weight: 600;
  --bs-btn-font-size: 14px;
  --bs-btn-border-radius: var(--bs-border-radius-pill);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-family: var(--work-sans);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2e2c2c;
  --bs-btn-hover-border-color: #2e2c2c;
  --bs-btn-focus-shadow-rgb: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e2c2c;
  --bs-btn-active-border-color: #2e2c2c;
  --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #444444;
  --bs-btn-disabled-opacity: 1;
  --bs-btn-disabled-border-color: #444444;
}

.btn-outline-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #fff;
  --bs-btn-border-width: 2px;
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff1f2;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff1f2;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #444444;
  --bs-btn-disabled-opacity: 1;
  --bs-gradient: none;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.68;
}

body {
  font-weight: 400;
  font-family: var(--work-sans);
  line-height: 24px;
}

a,
a::after {
  transition: all 0.3s ease-in-out;
}

h2 {
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
}

img {
  max-width: 100%;
}

.py-40px {
  padding-block: 40px;
}

.py-50px {
  padding-block: 50px;
}

.py-60px {
  padding-block: 60px;
}

.py-70px {
  padding-block: 70px;
}

.py-80px {
  padding-block: 80px;
}

.py-100px {
  padding-block: 100px;
}

.my-40px {
  margin-block: 40px;
}

@media screen and (max-width: 749px) {
  .py-40px {
    padding-block: 30px;
  }

  .py-50px {
    padding-block: 35px;
  }

  .py-60px {
    padding-block: 40px;
  }

  .py-70px {
    padding-block: 50px;
  }

  .py-80px {
    padding-block: 60px;
  }

  .py-100px {
    padding-block: 80px;
  }
}

.slick-list {
  z-index: 1;
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 55px;
  z-index: 2;
  border: 0;
  font-size: 1px;
}
.slick-prev.slick-arrow {
  left: 0;
}
.slick-arrow::before {
  color: #000;
  font-size: 35px;
}
.slick-next.slick-arrow {
  right: 0;
}
.main_banner .slick-arrow {
  color: transparent;
  width: 100px !important;
  height: 100px !important;
}

.main_banner .slick-arrow::before {
  content: none !important;
}

.main_banner .slick-prev.slick-arrow {
  left: -8%;
  background: url("../img/icons/prev.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main_banner .slick-next.slick-arrow {
  right: -8%;
  background: url("../img/icons/next.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-dots {
  width: calc(100% - 24px) !important;
  bottom: -55px;
}

.slick-dots li button {
  width: 9px;
  height: 9px;
  color: transparent;
  border: 1px solid rgba(136, 136, 136, 1);
  opacity: 1;
  border-radius: 100%;
}

.slick-dots li button::before {
  content: none;
}

.slick-dots li.slick-active button {
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1180px !important;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1380px !important;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1440px !important;
  }
}

.main_row {
  position: relative;
  overflow: hidden;
}

.announcement_bar {
  background: rgba(31, 30, 30, 1);
}

.bar_block {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-block: 16px;
}

.bar_block img {
  margin-top: -5px;
}

.bar_block p {
  font-family: var(--work-sans);
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 2px;
  color: rgba(224, 220, 208, 1);
}

.bake_wrap {
  max-height: 570px;
}

.bk_supper_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.menu_col {
  border-top: 1px solid rgba(238, 238, 238, 1);
}

.menu_col #navbar_menu {
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 0;
  border-right: 0;
  padding: 20px;
}

#navbar_menu .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.supper_image {
  width: 182px;
  height: 182px;
  border-radius: 100%;
  background-size: cover !important;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.supper_image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.supper_pic_1 {
  background: url("../img/supper/pic-1.png") center center no-repeat;
}

.supper_pic_2 {
  background: url("../img/supper/pic-2.png") center center no-repeat;
}

.supper_pic_3 {
  background: url("../img/supper/pic-3.png") center center no-repeat;
}

.supper_pic_4 {
  background: url("../img/supper/pic-4.png") center center no-repeat;
}

.supper_pic_5 {
  background: url("../img/supper/pic-5.png") center center no-repeat;
}

.supper_pic_6 {
  background: url("../img/supper/pic-6.png") center center no-repeat;
}

.supper_image .icon {
  z-index: 1;
}

.bk_supper_card .heading {
  color: #fff;
  text-transform: uppercase;
  font-family: var(--work-sans);
  font-weight: 700;
  font-size: 16px;
  line-height: 18.77px;
  letter-spacing: 0;
  text-align: center;
  margin-block: 30px 0;
}

.bk_treat_card {
  border: 1px solid rgba(226, 226, 226, 1);
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.treat_image {
  padding: 12px;
}

.treat_image .wrap {
  height: 284px;
  width: 100%;
}

.treat_image .wrap img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.bk_treat_card .content {
  padding: 15px 25px 28px;
  text-align: center;
}

.bk_treat_card .content span {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-align: center;
  text-transform: uppercase;
}

.bk_treat_card .content h4 {
  text-align: center;
  margin-block: 8px 18px;
  text-transform: uppercase;
}

.bk_treat_card .content p {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 0;
}

.about_wrap {
  max-width: 638px;
  width: 100%;
  height: 725px;
}

.about_wrap img,
.about_wrap iframe {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.about_content p {
  margin-block: 27px;
}

.about_content .subtext {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.about_wrap_2 {
  /* height: 457px; */
}

.about_wrap_2 img,
.about_wrap iframe {
  width: 100%;
  height: 100%;
}

.bk_fan_card {
  position: relative;
}

.bk_fan_card .fan_wrap {
  max-width: 470px;
  height: 506px;
}

.bk_fan_card .fan_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.bk_fan_card .content h4 {
  position: absolute;
  left: 50%;
  bottom: 56px;
  width: calc(100% - 50px);
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 10px;
  transform: translate(-50%);
}

.trip_wrap {
  /* max-width: 715px;
  min-height: 545px;
  height: 100%; */
}

.trip_wrap img {
  width: 100%;
  height: 100%;
}

.trip_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 80px;
  border-radius: 20px;
}

.trip_content p {
  color: rgba(84, 84, 84, 1);
}

.testi_bg {
  background: url("../img/testi_bg.jpg") no-repeat;
  background-position: center bottom;
  position: relative;
  z-index: 1;
}

.testi_bg:before {
  background: rgba(255, 243, 246, 0.54);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.testimonial {
  z-index: 3;
}

.testi_card .heading {
  margin-block: 22px;
  font-family: var(--cormorant);
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
}

.star_rating i {
  color: rgba(187, 146, 48, 1);
  margin-inline: 2px;
}

.testi_card .author {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1.8px;
  text-align: center;
  color: rgba(84, 84, 84, 1);
}

.tab_card {
  max-width: 344px;
  min-height: 399px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.tab_card .tab_image .wrap {
  height: 249px;
}

.tab_card .tab_image .wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab_card .content {
  padding: 30px 20px;
}

.tab_card .content h5 {
  margin-top: 10px;
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.tab_card .content span {
  font-family: var(--work-sans) !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.nav-recipe {
  border-top: 1px solid rgba(0, 0, 0, 1);
  padding: 20px 10px;
  gap: 20px;
  overflow-x: auto;
  max-width: 100%;
  /* flex-wrap: nowrap; */
}

.nav-recipe .nav-link {
  --bs-nav-link-padding-x: 5px;
  --bs-nav-link-padding-y: 0.5rem;
  font-family: var(--work-sans);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  position: relative;
  width: max-content;
}

.nav-recipe .nav-link.active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(218, 218, 218, 1);
}

.footer_social a svg {
  width: 20px;
  height: 20px;
}

.footer_bottom {
  border-top: 1px solid rgba(46, 45, 45, 1);
}

.footer_links a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.about_block_2 {
  margin-top: 50px;
}

#navbar_menu .dropdown-menu {
  border-radius: 0;
}

@media screen and (max-width: 1600px) {
  .supper_image {
    width: 158px;
    height: 158px;
  }

  .treat_image .wrap {
    height: 230px;
  }
}

@media screen and (max-width: 1400px) {
  .main_banner .slick-prev.slick-arrow {
    left: -10%;
  }

  .main_banner .slick-next.slick-arrow {
    right: -10%;
  }

  .supper_image {
    width: 150px;
    height: 150px;
  }

  .trip_content {
    padding: 30px 50px;
  }

  .treat_image .wrap {
    height: 210px;
  }
}

@media screen and (max-width: 1100px) {
  .about_wrap {
    width: 88%;
    height: 550px;
  }

  h4 {
    font-size: 20px;
    line-height: 25px;
  }

  .bk_treat .row {
    row-gap: 30px;
  }

  .about_block_2 {
    margin-top: 70px;
  }

  .bk_fan_card .fan_wrap {
    height: 400px;
  }
}

@media screen and (max-width: 991px) {
  .about_wrap {
    height: 410px;
  }

  .navbar-toggler:focus,
  .navbar-toggler {
    outline: 0;
    box-shadow: 0 0 0 0;
    border: 0;
  }

  .navbar-toggler-icon {
    border-color: #000;
  }

  .menu_col #navbar_menu {
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 50%;
    background: rgb(255, 255, 255);
    border: 0;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(-50%);
  }

  #navbar_menu .nav-link {
    text-align: start;
  }

  .slick-arrow {
    width: 50px !important;
    height: 50px !important;
  }

  .supper_image {
    width: 125px;
    height: 125px;
  }

  .trip_wrap {
    margin-bottom: 30px;
  }

  .bk_fan_card .fan_wrap {
    height: 300px;
  }

  .bk_fan_card .content h4 {
    bottom: 26px;
  }

  .supper_image .icon {
    text-align: center;
  }

  .supper_image img {
    width: 60%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 767px) {
  .slick-prev.slick-arrow {
    left: 0;
  }

  .slick-next.slick-arrow {
    right: 0;
  }

  .about_wrap_2,
  .about_wrap {
    margin-inline: auto;
    margin-bottom: 30px;
  }

  .about_block_2 {
    flex-direction: column-reverse;
  }

  .about_block_2 {
    margin-top: 40px;
  }

  .footer_bottom {
    text-align: center;
  }

  .footer_bottom p {
    margin-top: 20px;
  }

  .footer_bottom .row {
    flex-direction: column-reverse;
  }

  .fan_group_card {
    row-gap: 30px;
  }

  .bk_fan_card {
    width: 280px;
    margin-inline: auto;
  }

  .header_grid .py-40px {
    padding-block: 15px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .bk_supper_card .heading {
    width: 162px;
  }

  .bk_treat_card .content {
    padding: 5px 25px 28px;
  }

  .bk_treat_card .content p {
    font-size: 14px;
  }

  .about_content .subtext {
    font-size: 18px;
    line-height: 24px;
  }

  .about_content p {
    font-size: 14px;
    line-height: 24px;
  }

  .bk_treat_card .content h4 {
    margin-block: 6px 15px;
  }

  .trip_content {
    padding: 30px 20px;
  }

  .testi_bg {
    background-size: 100%;
  }

  .testi_card .heading {
    margin-block: 18px;
  }

  .testi_card .heading {
    font-size: 25px;
    line-height: 35px;
  }

  .tab_card {
    min-height: auto;
  }

  .nav-recipe {
    gap: 10px;
  }

  .nav-recipe .nav-link {
    font-size: 12px;
    line-height: 14px;
  }

  .tab_card .tab_image .wrap {
    height: 200px;
  }
}

/* collection page */
.sorting_list {
  border-radius: 0;
}
.sorting .dropdown-toggle {
  border: 1px solid rgba(238, 238, 238, 1);
}

.result {
  font-weight: 500;
  font-size: 22px;
  line-height: 16px;
  letter-spacing: 0.7px;
}
.collection_card {
  border: 1px solid rgba(226, 226, 226, 1);
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.collection_image {
  padding: 10px;
  height: 269px;
}
.collection_image img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.collection_card .content {
  padding: 10px 10px 25px;
  text-align: center;
  /* border-top: 1px solid rgba(226, 226, 226, 1); */
  min-height: 113px;
}

.collection_card .content span {
  font-weight: 600;
  font-size: 14px;
  line-height: 12.2px;
  letter-spacing: 1.07px;
  color: rgba(0, 0, 0, 1);
}
.collection_card .content h5 {
  margin-top: 10px;
}
.collection_card .content h5,
.collection_card .content h5 a {
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.search_filter {
  border: 1px solid rgba(238, 238, 238, 1);
  background: rgba(255, 255, 255, 1);
}
.search_filter .input-group-text {
  background: transparent;
  border: 0;
}
.search_input {
  border: 0;
  width: calc(100% - 42px);
  padding: 10px 16px;
  outline: 0;
}
.search_input::placeholder {
  text-transform: uppercase;
  font-family: var(--inter);
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1.65px;
}
.filter_item {
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  border: 0;
  color: #000;
  background: transparent;
}
.filter_parent {
  border: 0;
  background: transparent;
}
.filter_item:focus {
  box-shadow: 0 0 0 0;
}
.filter_item:not(.collapsed) {
  background: transparent !important;
  border: 0;
  box-shadow: 0 0 0 0;
  color: #000;
}
.filter_check {
  width: 100%;
}
.filter_check:not(:last-child) {
  margin-bottom: 16px;
}
.filter_parent .accordion-body {
  padding-block: 0px 5px;
}
.filter_check .form-check-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.11px;
  letter-spacing: 0px;
  color: rgba(102, 102, 102, 1);
}
.filter_check .form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
  box-shadow: 0 0 0 0;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0;
  border-color: transparent;
}
.filter_check .form-check-input {
  --bs-form-check-bg: rgba(241, 241, 241, 1);
  width: 18px;
  height: 18px;
  margin-right: 15px;
}
@media screen and (max-width: 1600px) {
  .collection_card .content {
    min-height: 134px;
  }
}
@media screen and (max-width: 1350px) {
  .collection_image {
    padding: 10px;
    height: 230px;
  }
}
@media screen and (max-width: 1100px) {
  .bk_collection h2 {
    font-size: 30px;
    line-height: 45px;
  }
}
@media screen and (max-width: 991px) {
  .filter_check .form-check-label {
    float: left;
  }
  .result {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .result {
    text-align: center;
    padding-bottom: 30px;
  }
  .collection_card .content h5,
  .collection_card .content h5 a {
    font-size: 14px;
    line-height: 18.6px;
  }
  .collection_image {
    height: 180px;
  }
  .collection_card .content span {
    font-size: 12px;
  }
  .collection_card .content {
    min-height: 124px;
  }
}
/* contact page start */
.contact_container {
  box-shadow: 0px 4px 20px 0px #00000026;
  background: #fff;
}
.contact_content {
  padding: 45px !important;
}
.contact_content h6 {
  font-family: Roxborough CF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
}
.contact_form label {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.7px;
  margin-bottom: 8px;
}
.contact_form .textarea_style,
.contact_form .input_style {
  border: 1px solid #d1d1d1;
  width: 100%;
  border-radius: 8px;
  padding: 10px 16px;
}
.contact_form .input_style {
  height: 55px;
}
.consent {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0px;
}
.checkbox_style {
  border: 1px solid #d1d1d1;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.image_wrap img {
  object-fit: cover;
}
@media screen and (max-width: 1280px) {
  .contact_content p {
    font-size: 14px;
    line-height: 24px;
  }
  .contact_content {
    padding: 25px !important;
  }
}
@media screen and (max-width: 1024px) {
  .contact_form .input_style {
    height: 45px;
  }
}
/* contact page end */
/* detail page start */
.blog_detail .banner_image {
  height: 550px;
  border: 2px solid #e2e2e2;
  padding: 12px;
  border-radius: 42px;
  margin-bottom: 30px;
}
.blog_detail .banner_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}
.right_content {
  position: relative;
}
.right_content .inside_container {
  background: #f3f3f3;
  padding: 20px 28px;
  position: sticky;
  top: 0;
}
.right_content h3 {
  font-family: Roxborough CF;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0px;
}
.latest_blog_list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 45px;
}
.latest_blog_list .list_item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.latest_blog_list .list_item .wrap {
  width: 70px;
  height: 70px;
}
.latest_blog_list .list_item .wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list_item h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.11px;
  letter-spacing: 0px;
}
.list_item .date {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.42px;
  letter-spacing: 0px;
}
.left_content .header .date {
  background: #000000;
  font-family: var(--inter);
  font-weight: 600;
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 1.65px;
  color: #ffffff;
  width: fit-content;
  padding: 0 10px;
  margin-bottom: 10px;
}
.left_content .header .author {
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #555555;
  margin-bottom: 20px;
}

.left_content .body_data h5 {
  font-family: var(--cormorant);
  font-weight: 600;
  font-size: 30px;
  line-height: 36.9px;
  letter-spacing: 0%;
}

.left_content .body_data li,
.left_content .body_data p {
  color: #545454;
}
.left_content .body_data li:not(:last-child) {
  margin-bottom: 5px;
}
.recipe_container {
  margin-top: 60px;
  position: relative;
  padding-top: 70px;
}
.recipe_blog_card {
  border: 5px solid #000000;
}
.images_wrap img {
  border-radius: 10px;
  max-height: 300px;
}
.images_wrap {
  row-gap: 20px;
}

.recipe_blog_card .card-header {
  padding-top: 80px;
  background: #000;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
  padding-inline: 20px;
}
.recipe_blog_card .card-header .heading {
  font-family: var(--cormorant);
  font-weight: 600;
  font-size: 30px;
  line-height: 36.9px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 20px;
}
.recipe_blog_card .image {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.recipe_blog_card .image img {
  border-radius: 100%;
  border: 5px solid #000000;
  object-fit: cover;
}
.recipe_blog_card .card_hr {
  border-top: 2px solid #d3b9cc;
  opacity: 1;
  width: 60%;
  margin-inline: auto;
}
.review_text {
  font-family: var(--bitter);
  font-weight: 400;
  font-style: italic;
  font-size: 11px;
  line-height: 41px;
  letter-spacing: 0%;
  color: #d3b9cc;
}
.extra_list span {
  font-family: var(--bitter);
  font-weight: 400;
  font-size: 15px;
  line-height: 22.51px;
  letter-spacing: 0px;
}
.extra_list span strong {
  font-family: Arvo;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.51px;
  letter-spacing: 0.55px;
  color: rgba(211, 185, 204, 1);
}
.recipe_blog_card .card-body {
  padding: 20px;
}
.hr_icon {
  position: relative;
}
.hr_icon::before,
.hr_icon::after {
  content: "";
  width: 46%;
  height: 1px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  position: absolute;
  top: 50%;
}
.hr_icon::before {
  left: 0;
}
.hr_icon::after {
  right: 0;
}
.control_container h6 {
  font-family: var(--cormorant);
  font-weight: 600;
  font-size: 22px;
  line-height: 30.9px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 0;
}
.control_container p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(77, 77, 77, 1);
}
.bottom_body {
  border-top: 1px solid rgba(234, 233, 235, 1);
  padding: 20px;
  margin-top: 10px;
}
.bottom_body h5 {
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
}
.bottom_body p {
  font-family: var(--roxborough-cf);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
}
.bottom_body li {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgba(102, 102, 102, 1);
  margin-bottom: 2px;
}
.bottom_stripe {
  background: rgba(237, 240, 242, 1);
  padding: 18px;
}
.bottom_stripe p strong {
  font-family: var(--arvo);
  font-weight: 700;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.55px;
}
.bottom_stripe p {
  font-family: var(--bitter);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(151, 149, 153, 1);
}
.card-footer {
  background: #000;
  padding: 16px;
}
.card-footer p {
  font-family: var(--arvo);
  font-weight: 400;
  font-size: 15px;
  line-height: 22.51px;
  letter-spacing: 0.38px;
}
.card-footer span {
  font-family: var(--bitter);
  font-weight: 400;
  font-size: 15px;
  line-height: 22.51px;
  letter-spacing: 0px;
}
.navigations {
  border-top: 1px solid rgba(235, 235, 235, 1);
  padding: 12px;
}
.navigations a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-family: var(--inter);
  font-weight: 600;
  font-size: 11px;
  line-height: 27px;
  letter-spacing: 2.75px;
}
@media screen and (max-width: 1600px) {
  .blog_detail .banner_image {
    height: 450px;
  }
}
@media screen and (max-width: 1300px) {
  .recipe_blog_card .image img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 991px) {
  .blog_detail .banner_image {
    height: 350px;
  }
  h2 {
    font-size: 30px;
    line-height: 42px;
  }
  .bottom_body li,
  .card-body p,
  .left_content .body_data li,
  .left_content .body_data p {
    font-size: 14px;
    line-height: 24px;
  }
  .list_item h6 {
    font-size: 15px;
  }
  .filter_check .form-check-label {
    font-size: 16px;
  }
  .block_item_2 .filter_item {
    padding-inline: 0px;
  }
}
@media screen and (max-width: 767px) {
  .left_content .body_data h5 {
    font-size: 25px;
    line-height: 30.9px;
}
.recipe_blog_card .image img {
  width: 120px;
  height: 120px;
}
.recipe_blog_card .card-header {
  padding-top: 45px;

}
.recipe_container {
  margin-top: 30px;
}
.recipe_blog_card .card-header .heading {
  font-size: 22px;
  line-height: 28.9px;
}
.extra_list span ,
.extra_list span strong {
  font-size: 12px;
}
.control_container h6 {
  font-size: 18px;
  line-height: 20.9px;
}
.card_wrap{
  row-gap: 20px;
}
.card-footer p {
  font-size: 14px;
  line-height: 18.51px;
}
.card-footer span {
  font-size: 12px;
  line-height: 18px;
}
.insta svg{
  height: 30px;
  width: 30px;
}
}
/* detail page end */
